[submodule "react-rtmp-stream-client-docker1"]
	path = react-rtmp-stream-client-docker1
	url = https://github.com/L1ghtError/react-rtmp-stream-client
[submodule "react-rtmp-stream-client-docker/react-rtmp-stream-client"]
	path = react-rtmp-stream-client-docker/react-rtmp-stream-client
	url = https://github.com/L1ghtError/react-rtmp-stream-client
[submodule "react-rtmp-stream-server-docker/react-rtmp-stream-server"]
	path = react-rtmp-stream-server-docker/react-rtmp-stream-server
	url = https://github.com/L1ghtError/react-rtmp-stream-server
